html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f3ddd2
}

img {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

.half {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "photo header"
    "photo body"
    "photo foot"
    "photo .";
}

.photo {
    grid-area: photo;
    display: flex;
}

.name {
    grid-area: header;
    text-align: center;
}

.info {
    grid-area: body;
    text-align: center;
}

.nav {
    grid-area: foot;
    text-align: center;
}

.button {
    background-color: rgba(245, 245, 220, 0);
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    animation-duration: 1s;
    animation-name: color;
    animation-timing-function: ease-in;
}

@keyframes color {
    from {background-color: rgba(177, 194, 124, 0.279);}
    to{background-color: rgba(245, 245, 220, 0);}
}